/ - content_for :javascript do
/   = javascript_include_tag 'expanding', 'posts'

/ .container
/ 	= simple_form_for @post do |f|
/ 		= f.input :title, label: false, placeholder: "Title", input_html: { rows: 1, maxlength: 80 }
/ 		= f.input :body, label: false, placeholder: "begin typing or paste url", input_html: { rows: 1, class: 'expanding' }
/ 		.form-actions
/ 			= f.association :communities, collection: current_user.communities, as: :check_boxes, label: false
/ 			div style="display: none"
/ 				= f.collection_radio_buttons :type, [['Link', 'Link'], ['Status', 'Status']], :first, :last, checked: 'Status'
/ 			= f.button :button, { disable_with: 'Sharing...' } do
/ 				| Share
/ 		.form-loading
/ 			i.fa.fa-refresh.fa-spin
/ 			span Loading URL ...
/ 	.posts
/ 		- if @posts.present?
/ 			= render @posts
/ 		- else
/ 			| No posts to show. Join Communities