$font-family: "proxima-nova"
$black: #383A3D
$blue: #00AED7
$light-green: #88C198
$grey: #979FA8

// MIXINS
@mixin clearfix
	&:after
		content: ""
		display: table
		clear: both

@mixin ellipsis
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

a
	text-decoration: none

img
	display: block
	margin: 0
	max-width: 100%

body
	background: #F0F0F0 image-url("noise.gif")
	font-family: $font-family

header
	border-bottom: 1px solid rgba(0,0,0,0.075)
	font-family: "ff-utility-web-pro"
	ul
		display: inline-block
		li
			display: inline-block
			a
				color: #AAA
				display: block
				line-height: 46px
				padding: 0 16px
		&.logo
			li
				a
					padding-left: 0
					padding-right: 0
		&.nav
			float: right
			font-weight: 300
			li.active
				a
					background: black
					color: white
	&.active
		background: $black
		border: none
		ul
			li
				a
					color: #F0F0F0
					color: rgba(255,255,255,0.8)
					text-shadow: 1px 1px 1px #222
					&:hover
						color: white

.title
	background: $blue
	color: white
	font-family: "ff-utility-web-pro"
	padding: 15px 0 14px
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2)
	i
		margin-right: 10px

.container
	margin: 0 auto
	width: 590px
	// @include container
	// @include susy-breakpoint(768px, $tablet)
	// 	@include container

.section
	background: white
	border: 1px solid #DDD
	border-radius: 6px
	margin-top: 25px

// FORMS
form
	input, textarea
		border: 1px solid #DDD
		border-radius: 3px
		box-sizing: border-box
		display: block
		font-family: $font-family
		font-size: 16px
		font-weight: 300
		margin: 0
		padding: 13px 15px
		width: 100%
		&:focus
			outline: none
	input.check_boxes
		display: inline-block
		margin-right: 5px
	textarea
		resize: none
	select
		width: 100%
	button
		background: $blue
		border: 0
		border-radius: 5px
		box-shadow: inset -1px -1px 0 #80d7eb, 1px 1px 0 #0094b7
		color: white
		font-family: "ff-utility-web-pro", "museo-slab"
		font-size: 23px
		font-weight: 300
		padding: 14px 28px 12px
		text-shadow: 1px 1px 1px #00A8A8
		width: 100%
		i
			margin-left: 14px
			position: relative
			top: 1px
		&:active
			box-shadow: inset 1px 1px 0 #0082a1
		&:focus
			outline: none
		&:hover
			cursor: pointer

// WELCOME
.welcome-header
	font-size: 32px
	font-weight: 300
	padding: 60px 0 35px
	text-align: center
	text-shadow: 1px 1px 1px white
	span
		color: #FB464A

.welcome
	.new_user
		border-bottom: 1px solid #DDD
		padding: 60px 0
		text-align: center
		input
			font-size: 24px
			margin: 0 auto
			min-width: 300px
	.new_user, .edit_user
		button
			background: $blue
			margin-top: 20px

.edit_user
	// background: red
	margin: 26px auto 52px
	width: 295px
	label
		color: $black
		display: block
		font-size: 14px
		font-weight: 600
		margin-bottom: 3px
	.input
		margin-bottom: 13px
	button
		margin-top: 13px

// POSTS
.new_post
	margin-top: 25px
	input[type="text"], textarea
		box-shadow: 0 1px 0 #E0E0E0
		font-size: 17px
		width: 100%
	#post_title
		font-weight: 600
		display: none
		margin-bottom: 10px
	#post_url
	.form-actions
		border-bottom: 1px solid #DDD
		display: none
		padding-bottom: 25px
		.post_communities
			padding: 20px 5px
			text-shadow: 1px 1px 1px white
			input[type="checkbox"]
				display: none
				+ label
					display: inline-block
					line-height: 28px
					margin-right: 15px
					&:before
						content: "\f096"
						font-family: "FontAwesome"
						letter-spacing: 6px
						position: relative
						top: 1px
			input[type="checkbox"]:checked
				+ label:before
					content: "\f046"
					letter-spacing: 4px

	.form-loading
		display: none
		color: #FC006D
		font-weight: 600
		padding-top: 25px
		text-shadow: 1px 1px 1px white
		i
			margin-right: 8px

// TABS
.tabs
	ul
		li
			display: inline-block
			a
				color: $grey
				display: block
				font-size: 15px
				line-height: 52px
			&.active
				a
					color: #00AED7
		&.sort
			li
				a
					padding: 0 15px
					i
						margin-right: 6px
				&:first-child
					a
						padding-left: 20px
		&.toggle
			float: right
			li
				a
					padding: 0 16px

// POST
.post
	@include clearfix
	border-bottom: 1px dotted #EEE
	padding: 15px 17px 15px 20px
	&:last-child
		border: none

.post-image
	float: left
	img
		border-radius: 3px
		height: 54px
		width: 54px

.post-main
	margin-left: 50px
	padding: 2px 0 0 18px

.post-check
	color: $light-green
	float: right

.post-title
	a
		color: black
		text-decoration: underline

.post-actions
	margin: 6px 0 0 1px
	color: #999
	font-size: 12px
	a
		color: $grey
		display: inline-block
		i
			font-size: 14px
			margin-right: 3px
			&.fa-retweet
				color: $light-green
		+ a
			margin-left: 10px
		&:hover
			color: #00AED7
		&.retweet
			color: $light-green
			cursor: default !important
			pointer-events: none

// POST SHOW
.post-show

.post-show-title
	font-size: 32px
	padding: 30px 0 10px
	text-shadow: 1px 1px 1px white

.post-show-communities


// PROFILE (USER SHOW)
.profile
	@include clearfix
	padding: 2px

.profile-image
	float: left
	img
		height: 125px
		width: 125px
		border-radius: 3px 0 0 3px

.profile-main
	margin-left: 135px

.profile-communities
	ul
		li
			display: inline-block
			a
				color: $grey
				display: block
				line-height: 39px
				&:after
					content: "\00a0\00a0"